<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexiCoche - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
    
<body>
    <header class="header-container">
        <h1 class="logo">FlexiCoche</h1>
        <div class="auth-icons">
            <a href="login.html" class="icon"><i class="fas fa-user"></i> Login</a>
            <a href="register.html" class="icon"><i class="fas fa-user-plus"></i> Register</a>
        </div>
    </header>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form>
            <input type="email" placeholder="Correo Electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
        <a href="../templates/register.html" class="register-link">¿No tienes cuenta? Regístrate aquí</a>
    </div>
</body>
    
</html>
